# Enter the amount you want to spam, and the text then run and go to the place where you want to spam, and then let the bot its magic
import pyautogui, time
from distutils.core import setup
time.sleep(5)
f = "This is a test" #Put the text you want to spam
number = 10 #Put the amount of time that you want to spam 
for x in range(number): 
    pyautogui.typewrite(f)
    pyautogui.press("enter") 
print('Thank you for using spambot, and go to my website 👉👉👉👉 https://aryanpandey.ga/f24bce62b3fa445a8c383695dabc9772')
